<form action="/auth/login" method="POST" id="form">
    <h2><%= title %></h2><br>
    <label for="username">User name</label>
    <input type="text" name="username" placeholder="username">
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password">
    <br><br>
    <% if (typeof errorMessage !== "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
      <br><br>
    <% } %>
  
    <button type="submit">Login</button>
    <br><br>
  
    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>
  </form>