<h1><%= title %></h1>
<form class="" action="index.html" method="post">
<p>
<label for="name">Name: </label>
  <input type="text" name="name" value="" placeholder="name">
</p>
<p>
<label for="time_max">Time max (min): </label>
  <input type="number" name="time_max" value="" placeholder="min">
</p>
<button type="submit" name="button">signup tail</button>
</form>
