<h1><%= title %></h1>

<% tails.forEach((e) => { %>

<p> <%= e.name %> </p>
<p> <%= e.time_max %> </p>
<p> <%= e.creator %> </p>


<p>
<h3>Lista de cola</h3>
<ul>
  <li>Alberto</li>
  <li>Carlos</li>
  <li>Ángel</li>
  <li>Sara</li>

</ul>
</p>
<% }) %>
